* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(register-background.jpg) no-repeat;
  background-image: center;
  background-size: cover;
}

header {
  background: #481f03;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6em;
  padding: 0 20px;
  position: fixed;
  top: 0;
  z-index: 2;
  opacity: 0.7;
}

.logo_cb {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-left: 1rem;
}

.navbar,
.navbar_list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar_list {
  gap: 30px;
}

.navbar_list a {
  font-size: 20px;
  font-weight: 600;
  color: aliceblue;
}

.registro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.registro form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 50vw;
  height: 45vh;
  border-radius: 20%;
}

.formulario {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 15%;
  background: url(../assets/register-bg.jpg) center;
  border-radius: 20px;
}

.formulario div {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.formulario h2 {
  font-size: 55px;
  text-align: center;
  padding-bottom: 0.4rem;
  color: #ffffff;
  border-bottom: 1px solid #e7d340;
}

.formulario label {
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  color: rgb(243, 255, 25);
}

.formulario input {
  padding: 15px 35px 15px 15px;
  border-radius: 10px;
  background-color: #252525;
  color: #fff;
  outline: none;
  border: 2px solid var(--secondary);
}
